{% extends 'base.html.twig' %}

{% block title %}Hello TechController!{% endblock %}

{% block body %}

 

 <h1 class="text-center">Mon Tableau de Bord - </h1>

    <div class="container">

        <div class="row justify-content-around text-center">
            <a href="{{ path('tech_clients_list') }}" class="col-10 col-sm-5 btn btn-warning mb-4">Liste de mes clients</a>
            <a href="#" class="col-10 col-sm-5 btn btn-warning mb-4">Ventes du mois</a>
           
           
        </div>
    </div>

{% endblock %}
