<div class="admin__header">

    <ul class="adminmenu">

        <li class="admin__header--list-item"><a href="{{ path('backend_shops_list') }}" class="admin__header--link btn btn-outline-dark">Magasins</a></li>
        <li class="admin__header--list-item"><a href="{{ path('backend_users_list') }}" class="admin__header--link btn btn-outline-dark">Adhérents</a></li>
        <li class="admin__header--list-item"><a href="{{ path('backend_techs_list') }}" class="admin__header--link btn btn-outline-dark">Techniciens</a></li>
        <li class="admin__header--list-item"><a href="{{ path('backend_allusers_list') }}" class="admin__header--link btn btn-outline-dark">Tous les utilisateurs</a></li>
        
        

    </ul>
</div>