<div class="admin__header">

    <ul class="adminmenu">

        <li class="admin__header--list-item"><a href="{{ path('supervision_index') }}" class="admin__header--link btn btn-warning">Accueil Supervision</a></li>
        <li class="admin__header--list-item"><a href="{{ path('supervision_adherents_index') }}" class="admin__header--link btn btn-outline-dark">Adhérents</a></li>
        <li class="admin__header--list-item"><a href="{{ path('supervision_techniciens_index') }}" class="admin__header--link btn btn-outline-dark">Techniciens</a></li>
        <li class="admin__header--list-item"><a href="{{ path('supervision_magasins_index') }}" class="admin__header--link btn btn-outline-dark">Magasins</a></li>
        
    </ul>
</div>