body {
    background: url('https://source.unsplash.com/J33qmCVr02A') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 0.5rem;
}

footer {
    position: relative;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.headerband {
    margin-bottom: 0;
}

.user-form {
    background-image: linear-gradient(#DD9D18, #f1f1f1);
    border: 1px solid #ccc;
    width: 500px;
    margin: 20px;
    padding: 10px;
    overflow: auto;
    box-shadow: 0px 0px 20px #aaa;
    border-radius: 10px;
    /*text-align: center;*/
    height: 100%;
}

.profilchoice {
    margin: 20px;
}

@media (max-width: 1200px) {
    .d-flex {
        flex-direction: column;
    }
}

.presentation {
    width: 30%;
    opacity: 0.75;
    background-color: rgb(240, 241, 143);
}

h4 {
    padding: 10px;
    text-decoration: underline;
}

li {
    list-style: none;
}

.user-form,
.presentation,
.profilchoice {
    margin-top: 2rem;
}

.headermenu {
    background-color: #DD9D18;
}

.dropdown {
    color: #f1f1f1;
}

.btn {
    margin-top: 0.5rem;
}

#user_update_profil_roles {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}

label {
    display: block;
    text-align: center;
}

input {
    float: right;
    width: 330px;
}

select {
    float: right;
}

textarea {
    float: right;
    width: 330px;
    height: 50px;
}

.modal-body {
    margin-left: 0;
}

.table {
    font-size: 15px;
    font-weight: bold;
}

.table tr td {
    height: 30px;
    padding: 0px;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: rgb(230, 164, 79);
}

.page-item {
    background-color: rgb(230, 164, 79);
}

fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#visite_form_contentdetails {
    height: 200px;
    overflow: scroll;
}